proj.win8.1-universal
proj.win32
proj.wp8-xaml
.cocos-project.json
CMakeLists.txt
bin
cocos2d
proj.ios_mac
proj.linux
/.metadata
/proj.android/build-cfg.json
/proj.android/local.properties
/proj.android/proguard-project.txt
/proj.android/.classpath
/proj.android/.cproject
/proj.android/.project
/proj.android/ant.properties
/proj.android/build.xml
/proj.android/build_native.py
/proj.android/libs
/proj.android/obj
/proj.android/src
/proj.android/.settings
/proj.android/assets
/proj.android/bin
/proj.android/gen
